<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="1048576"/>
    <httpModules>
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>-->
    </httpModules>
    
    <sessionState mode="InProc" timeout="10" cookieless="false"/>
    <!--tat thong bao loi-->
    <customErrors mode="Off" defaultRedirect="Error.html">
      <error statusCode="403" redirect="NoAccess.html" />
      <error statusCode="404" redirect="404.html" />
    </customErrors>

    <trace enabled="false" localOnly="true"/>
    <!--Ma hoa viewstate-->
    <machineKey validation="3DES"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="SQLConnections" connectionString="Server=.\NHUTMINH;Database=BanHang;Trusted_Connection=True;"></add>
    <add name="SQLConnection" connectionString="Server=.\NHUTMINH;Database=BanHang;Trusted_Connection=True;"></add>
  </connectionStrings>
</configuration>