<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <sessionState mode="InProc" timeout="10"/> 
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="SQLConnections" connectionString="Server=.\NHUTMINH;Database=BanHang;Trusted_Connection=True;"></add>
    <add name="SQLConnection" connectionString="Server=.\NHUTMINH;Database=BanHang;Trusted_Connection=True;"></add>
  </connectionStrings>
</configuration>