<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="SQLConnections" connectionString="Server=.\SQlExpress;Database=BanHang;Trusted_Connection=True;"></add>
  </connectionStrings>
</configuration>